# Flutter & Dart
.dart_tool/
.packages
.pub-cache/
build/
pubspec.lock
firebase.json

# Firebase sensitive configs
lib/firebase_options.dart
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist

# Generated plugin registrants
**/generated_plugin_registrant.*
**/ephemeral/

# IDE settings
.vscode/
.idea/

# Test artifacts
coverage/

# Logs
*.log

# Android signing (DO NOT COMMIT)
android/key.properties
android/*.jks
android/*.keystore
